---
const { t } = Astro.props;
const data = t.data || {};
---

<section>
  <div class="py-16">
    <!-- Título y Animaciones -->
    <div
      class="mx-auto mb-16 max-w-2xl text-center"
      data-aos="flip-down"
      data-aos-duration="1000"
    >
      <h2 class="text-5xl sm:text-7xl font-bold tracking-tight text-gray-900">
        {data.title}
      </h2>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-accent inline-flex"></div>
      </div>
      <p class="mt-4 text-lg text-gray-600">
        {data.subtitle}
      </p>
    </div>

    <!-- Iconos principales -->
    <div class="flex flex-row items-center justify-center">
      <img
        src="images/big_data_globe.webp"
        alt="Big Data Globe"
        class="w-28 h-28 sm:w-48 sm:h-48 animate-[pulse_1.2s_ease-in-out_infinite]"
      />
      <img
        src="images/fuel.webp"
        alt="Fuel svg"
        class="w-24 h-24 sm:w-32 sm:h-32 animate-[wiggle_1.8s_ease-in-out_infinite]"
      />
      <div class="relative w-28 h-28 sm:w-40 sm:h-40">
        <img
          id="carouselImage"
          src="images/defense-intelligence.webp"
          alt="Rotating"
          class="absolute inset-0 w-full h-full rounded-full object-cover transition-opacity duration-700 opacity-100"
        />
      </div>
    </div>

    <div class="flex flex-col items-center justify-center mb-8">
      <div class="flex flex-col items-end gap-2 mt-2 ml-40 sm:ml-80">
        <span
          class="bg-blue-100 text-blue-800 px-4 py-1 rounded-full text-sm font-semibold shadow"
          data-aos="fade-down"
          data-aos-duration="2000"
        >
          Artificial Intelligence
        </span>
        <span
          class="bg-blue-100 text-blue-800 px-4 py-1 rounded-full text-sm font-semibold shadow"
          data-aos="fade-down"
          data-aos-duration="1800"
        >
          Applications
        </span>
      </div>
    </div>

    <!-- Grid -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 max-w-6xl mx-auto px-4"
    >
      {
        data.cards?.map((card: any, index: any) => (
          <div
            class="bg-gradient-to-l from-blue-100 to-white rounded-xl shadow-lg p-6 hover:shadow-xl transition"
            data-aos="fade-right"
            data-aos-delay={100 * (index + 1)}
            data-aos-duration="2000"
          >
            <h3 class="text-xl font-semibold flex items-center gap-1 mb-2 underline underline-offset-4 decoration-accent">
              <img
                src={`svg/${card.image}`}
                alt={`${card.title} icon`}
                class="w-4 h-4 self-start pt-[2px]"
                loading="lazy"
              />
              <span set:html={card.title} />
            </h3>

            <p class="text-gray-600 text-sm">{card.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  const images = [
    "images/defense-intelligence.webp",
    "images/fishing-resources.webp",
    "images/wildlife.webp",
    "images/oil.webp",
    "images/urban-construction-management.webp",
    "images/agriculture2.webp",
  ];

  const img = document.getElementById("carouselImage") as HTMLImageElement;
  let index = 0;

  setInterval(() => {
    img?.classList.add("opacity-0");

    setTimeout(() => {
      index = (index + 1) % images.length;
      img.src = images[index];
      img?.classList.remove("opacity-0");
    }, 700);
  }, 1000);
</script>
