---
const { t } = Astro.props;
---

<div class="relative min-h-screen bg-[#070707] overflow-hidden">
  <!-- Contenedor donde se agregan las estrellas -->
  <div id="stars" class="absolute inset-0 pointer-events-none opacity-80 z-0">
  </div>

  <!-- Contenido principal -->
  <div
    class="relative z-10 flex flex-col items-center justify-center w-full min-h-screen text-white mb-24"
  >
    <img
      src="images/handle.webp"
      class="mb-4 rounded-xl max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg h-[400px] sm:h-[300px] lg:h-[500px]"
      alt="metaverse handle"
    />
    <div
      class="flex flex-col items-center text-center space-y-4"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <h1
        class="font-orbitron text-yellow-100 font-bold text-3xl md:text-6xl"
        style="transform: perspective(400px) rotateX(-18deg);"
      >
        <span set:html={t.hero.title} />
      </h1>
      <h2
        class="font-orbitron text-yellow-100 text-lg sm:text-3xl md:text-4xl"
        style="transform: perspective(400px) rotateX(-18deg);"
      >
        <span set:html={t.hero.subtitle} />
      </h2>
    </div>
  </div>
</div>

<script>
  const starContainer = document.getElementById("stars");
  const totalStars = 300;

  for (let i = 0; i < totalStars; i++) {
    const star = document.createElement("div");
    const size = Math.random() * 1.5 + 0.5;
    const top = Math.random() * 100;
    const left = Math.random() * 100;
    const opacity = `${Math.random() * 0.5 + 0.5}`;

    star.className = "absolute bg-white rounded-full pointer-events-none";
    star.style.width = `${size}px`;
    star.style.height = `${size}px`;
    star.style.top = `${top}%`;
    star.style.left = `${left}%`;
    star.style.opacity = opacity;

    starContainer?.appendChild(star);
  }
</script>
