---
const { t } = Astro.props;
const testimonials = t.testimonials;
---

<section class="pb-16 px-4 sm:px-6 lg:px-8 text-center">
  <div
    class="mx-auto mb-16 max-w-2xl text-center"
    data-aos="flip-down"
    data-aos-duration="2000"
  >
    <h2 class="text-5xl sm:text-7xl font-bold tracking-tight text-gray-900">
      {testimonials.title}
    </h2>
    <div class="flex mt-6 justify-center">
      <div class="w-16 h-1 rounded-full bg-accent inline-flex"></div>
    </div>
    <p class="mt-4 text-lg text-gray-600">{testimonials.subtitle}</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto">
    <!-- Testimonial -->
    {
      testimonials.items.map((item: any) => (
        <div
          class="bg-gray-50 hover:bg-gray-100 focus:bg-gray-100 p-6 rounded-2xl shadow-md flex flex-col items-center"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div class="text-yellow-400 text-xl mb-4">★★★★★</div>
          <p class="text-gray-700 text-md mb-6">“{item.quote}”</p>
          <div class="text-sm text-accent font-semibold mb-2">
            {item.author}
          </div>
          <div class="flex justify-center items-center text-[#f60] w-16 h-16">
            <img src={`/svg/${item.svgName}`} alt={item.source} />
          </div>
        </div>
      ))
    }
  </div>
</section>
