---
import AboutUs from '../../components/AboutUs.astro';
import Carousel from '../../components/Carousel.astro';
import Footer from '../../components/Footer.astro';
import Hero from '../../components/Hero.astro';
import Navbar from '../../components/Navbar.astro';
import Product from '../../components/Product.astro';
import Team from '../../components/Team.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getTranslations } from '../../lib/i18n';

export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
    { params: { lang: 'fr' } }
  ];
}

const { lang } = Astro.params;
const t = getTranslations(lang);
---

<!-- Todo incorporar fonts en el proyecto -->
<!-- Todo revisar que todas las img sean webp -->
<BaseLayout lang={lang || 'en'}  title={t.title}>
  <Navbar t={t}/>
  <div id="home">
    <Hero t={t}/>
  </div>

  <div id="product">
    <Product t={t}/>
  </div>
	
  <div id="carousel-bp">
    <Carousel t={t}/>
  </div>

  <div id="team">
    <Team t={t}/>
  </div>
  
  <div id="about">
    <AboutUs t={t}/>
  </div>
	<Footer t={t}/>
</BaseLayout>